.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-title{
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height:100vh;
}


.spice-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

