.bottle-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
 
}

.bottle {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #eaeaea;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    Margin: 10px;
  }
  .bottleColor {
    background-color: pink;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    Margin: 10px;
  }
  
 
  
  .bottle-text {
    text-align: center;
    color: #000000;
    font-family: monospace;
  }

  