.bottle-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
 
}

.bottle {
    width: 100px;
    height: 150px;
    position: relative;
    background-color: #eaeaea;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    Margin: 10px;
  }
  .bottleColor {
    background-color: pink;
    width: 100px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    Margin: 10px;
  }
  
  .bottle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #eaeaea;
  }
  .bottle:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #eaeaea;
  }
  
  .bottle-text {
    text-align: center;
    color: #000000;
  }

  .bottle:hover {
    background-color: #ffcc00;
  }
  
  .bottle:hover:before {
    background-color: #ffcc00;
  }

  .bottle-text {
    font-family: monospace;
  }